[2019-08-26 12:29] peppelinux opened #2 "[Example] Missing conf['class'] when running flask example"
Hi, I'm playing with oidc-op and flask.
I'm also working on a basic Readme to help users with preliminar setup.

Running  `python -m flask_op.server flask_op/conf.yaml ` I get the following exception.
Am I doing something wrong?

[code]

[2019-08-27 10:51] peppelinux commented on #2
Fixed with latests commits, thank you

[2019-08-27 10:51] #2 closed

[2019-08-28 13:03] peppelinux opened #5 "'RSAKey' object has no attribute 'key'"
running a RP test instance as follow:
`JWTConnect-Python-OidcRP/chrp$ ./rp.py -t -k conf`

its conf is
[code]

I get this exception (OidcRP):
[code]

Oidc-op side I have this log
[code]

the logs oidc-op tell us `2019-08-28 14:56:54,805 oidcendpoint.oidc.registration DEBUG found 0 keys for client_id=eD4fg038iVSc`.

[2019-08-28 18:46] rohe commented on #5
So what's in "jwks_dir/jwks.json" and  'static/jwks.json' ?

Note that the YAML file uses a set of tools the PY file doesn't.
One such is bound to these lines:

`OIDC_KEYS:
    'private_path': "./priv/jwks.json"
    'key_defs': *keydef
    'public_path': './static/jwks.json'`

Given that in the configuration file the RP will create a new set of keys if the given files don't exist or are empty.
I n

[2019-08-28 19:04] rohe commented on #5
Ah, reading the OIDC-op logs it's obvious :-/
In the client registration there MUST be a jwks or a jwks_uri claim. There ain't. So the OP doesn't get any keys from the RP.
Now, the question is why the RP isn't registering keys.
My guess is that a key file is missing. Which comes back to the: "What's in .. " questions above.

[2019-08-29 08:30] peppelinux commented on #5
Regarding oidc-op, conf.yaml
[code]

I created `private_jwks.json` in this way `python -c 'import json; from cryptojwt.jwk.rsa import new_rsa_key; print(json.dumps(new_rsa_key().to_dict(), indent=2))'` (probably wrong). Here its content:
[code]

 I'll take a look into sources to see how it will be created automatically if absent. For example in oidc-op the following is created if absent:

[code]

[2019-08-29 10:08] peppelinux commented on #5
ok, to get it to create the jwks files I added read_only=False as follow

[code]

[2019-08-29 10:13] rohe commented on #5
Right ! In the default case you don't want it to overwrite what's already there.
If there is something there.

[2019-08-29 10:14] rohe commented on #5
You definitely need init_key_jar to create a syntactically correct JWKS file.

[2019-08-29 10:21] peppelinux commented on #5
I go ahead but I understand that in oidcendpoint.do_client_registration I cannot find `jwks_uri` and jwks` in request, as you already told me but I'm tryng to find the right configuration to get those attributes available in my RP registration request.

the interesting part in oidcendpoint.registration is at  line 212

[code]

[2019-08-29 10:23] peppelinux commented on #5
this is something usefull for the enduser documentation.

[2019-08-29 10:47] peppelinux commented on #5
RPHandler loads corretly my jwks definitions, but they do not appear in the RP registration request.
I'm going through this....

[code]

[2019-08-29 12:33] peppelinux commented on #5
Ok I get it to have jwks_uri paramenter into registration request, this way in RP:
[code]
Now I can see it in ` oidcendpoint.registration#212` and op log tell me `oidcendpoint.oidc.registration DEBUG found 2 keys for client_id=ZXbrP1P0aYUG`. Where these are:

[code]
But the exception `'RSAKey' object has no attribute 'key'` still persists. So I found the error, it was the format of `cookie_sign_jw

[2019-08-29 12:33] #5 closed

[2019-08-29 13:33] peppelinux opened #7 "oidcmsg.exception.MissingSigningKey: alg=RS256"
Once I went through the login form (user_pass.jinja2), with these information in RP logs:

[code]

I have a login form, then I put _login: upper_ and _password: crust_ then submit. I can see the RP log here

[code]

oidc-op side I have this
[code]

Is there the possiblity that some jwks files mess something?

[2019-08-29 16:44] peppelinux commented on #7
Fixed with automatic keyjar init.
I'll look into `cryptojwt.key_jar.init_key_jar` to document a good way to create jwk manually.

Thank you for your suggestions in other threads

[2019-08-29 16:44] #7 closed

[2019-10-06 16:12] peppelinux commented on #5
I think that It would be good if the following resource:
https://github.com/rohe/ojou_course/blob/master/presentation/JWx.pdf

can be linked into cryptojwt documentation.
As it come, good enough for primers

[2021-03-26 17:12] baszoetekouw opened #19 "doesn't work with new version of oidcmsg"
With the latest version of oidmsg, this project fails to start

[code]
and after manually installing pyopenssl:
[code]

Please use versioned requirements (i.e., `oidcmsg~=1.1.0`) to avoid this kind of breakages.

[2021-03-26 20:04] rohe commented on #19
Yeah, you got trapped in a rewrite.
We're moving from having the JWTConnect modules accessing persistent storage to letting the front ends deal with in.
Give me another couple of days.
I'm almost done with the RP side will do the OP side there after.

[2021-03-27 10:05] baszoetekouw commented on #19
Heh,  we're using it in a CI-setup to test our OIDC-login, so we will probably hit any transient issues that might occur in the dependencies.
For now, I've worked around it by installing fixed versions of the dependencies, but it would be great if you could tighten the dependencies in the mocole itself, too.

[2021-03-27 10:07] rohe commented on #19
Sorry about this ! We will definitely tighten dependency specifications in the future.

[2021-04-25 21:32] peppelinux opened #21 "sid value in access token"
This issue is related to oidc-op version currently developed in incl_oidcendpoint branch

The access token shows as follows

[code]

[2021-04-26 06:37] rohe commented on #21
Shown to whom ? In what context.

[2021-04-26 08:08] peppelinux commented on #21
in op and rp context, both, everywhere. Do I dream or am I awake?

here in RP

[code]

in op I found it in the session_manager dump

[2021-04-26 09:30] rohe commented on #21
If you find it in a state/session dump then I don't agree! I'm absolutely fine having it in clear text there.
If it's in an JWT access token or in a response from the introspection endpoint, that's another matter.

[2021-04-26 10:14] peppelinux commented on #21
my last example is what the RP got, would it be probably the "another matter"?
let's do a check on this!

[2021-04-27 07:33] peppelinux opened #22 "disable weak algorithms"
The following algorithms must be disabled by default:

- RSA1_5
- none

[2021-04-29 08:44] peppelinux opened #25 "sub claim in access_token"
I think it is useful to also include the sub claim within the access_token

[2021-04-29 09:14] rohe commented on #25
Not as default. You can easily do it by configuration.

[2021-04-29 09:24] #25 closed

[2021-05-02 22:11] peppelinux commented on #19
@rohe
add_boxes is deprecated (not used anymore) in develop branch, do we have to explain this here?

[2021-05-04 08:57] peppelinux commented on #22
reference
https://tools.ietf.org/html/rfc8725

[2021-05-04 09:13] rohe commented on #22
OK

[2021-05-04 14:32] peppelinux opened #28 "default_claims"
The example configuration provided in flask_op have

[code]

I can't figure out how the attribute default_claims is involved in operations, can't find it in the source tree neither in unit tests.
To issue some custom claims in IDToken I made this changements

[code]

the same for Token handler

[code]

[2021-05-05 06:33] rohe commented on #28
It's supposed to be `base_claims` and it's handled in oidcop.session.claims.ClaimsInterface.get_claims().
`default_claims` was an earlier name.

[2021-05-05 06:39] peppelinux commented on #28
Ok, so I can self assign to update documentation and configuration example

[2021-05-05 09:32] peppelinux commented on #21
I found that the oidc-op internals used to get session information directly from the token. For this reason we have a sid claim in a access_token valued as "username;;client_id;;grant_id"

I think that the sid MUST be opaque and not yield any information about the user, but it seems to me that this behavior is actually needed because the session manager uses the token like a kind of storage, it fi

[2021-05-05 12:08] #28 closed

[2021-05-12 09:33] #21 closed

[2021-05-13 23:01] peppelinux opened #33 "Session manager dump, missing values"
Hi there,
The following is a dump of a session, the elements in bold should catch our attention

{
  "expires_at": 1620989852,
  "issued_at": 1620946652,
  "not_before": 0,
  "revoked": false,
  "usage_rules": {
    "authorization_code": {
      "supports_minting": [
        "access_token",
        "refresh_token",
        "id_token"
      ],
      "max_usage": 1
    },
    "access_token": {},

[2021-05-14 07:53] rohe commented on #33
Can't say. I'll deal with this when I'm done with ID Token being a session token.

[2021-05-14 12:16] peppelinux opened #34 "access token claims"
Here an example of an access_token issued by oidc-op develop branch.

@rohe Shouldn't we use also **jti** and **sub** in it? See [bertocci-oauth-access-token-jwt](https://tools.ietf.org/id/draft-bertocci-oauth-access-token-jwt-00.html#rfc.section.2.2)

the following claims in bold would be those we could consider to include:

**Access Token**

 {
  "scope": [
    "openid",
    "profile",
    "emai

[2021-05-14 14:44] rohe commented on #34
Agree that we should add sub, client and jti.
Regarding adding other claims we have the possibility to add user claims. No way to add other claims.

You can do things like this:

[2021-05-14 15:52] peppelinux commented on #34
Otherwise I should inherit `oidcop.token.jwt_token.JWTToken` and put my class in the global conf, I'm wondering ...

[2021-05-14 16:30] peppelinux opened #36 "Session dump inconsistent state on some conditions"
@develop branch

If a first session have been done, the next one fails at verify_user view.
the failure is cause by the fact that the flushed session database doesn't have a 'db' element in it

the patchy workaroud is this, in verify_user view:

[code]

GHere the traceback of the error

[code]

here the commented workaround in the example project
https://github.com/peppelinux/django-oidc-op/commit

[2021-05-15 06:50] #19 closed

[2021-05-15 12:37] peppelinux commented on #22
in https://github.com/IdentityPython/oidc-op/pull/38 I found a good compromise

the weak algs doesn't been disabled by default but a warning message raises if there are found in the configuration

[2021-05-16 07:18] #34 closed

[2021-05-16 07:19] #22 closed

[2021-05-16 13:02] peppelinux opened #47 "Missing TokenIntrospection in examples project"
It would be better to have it :)

[2021-05-16 13:07] peppelinux opened #48 "configuration inconsistency during the token release phases"
Even if we run oidc-op with a safe configuration it happens that, at /token endpoint, we see a warning due to a weak configuration:

[code]

here the footprint, it seems that default_capabilities involved in the endpoint configuration have not been succesfully loaded

[code]

[2021-05-16 13:13] peppelinux opened #49 "Grant_ids doesn't change even if belonging to different authz requests"
Doesn't it have different id if belonging to different requests?

![image](https://user-images.githubusercontent.com/1297620/118398476-23914680-b659-11eb-967e-9fe88130e5bb.png)

[2021-05-16 14:26] peppelinux opened #50 "[Documentation] Pairwise salt"
the salt involved in subject must be documented, otherwise it's hard to go in production with multiple workers that have random salt in each of their instances

see `oidcop.session.manager.PairWiseID` and other IDs

[2021-05-16 17:36] peppelinux commented on #49
closed by https://github.com/IdentityPython/oidc-op/commit/1f6d09fe0450b56a0fba60a6291214ddc257455a

@rohe my fault, nothing of interest for oidc-op

[2021-05-16 17:36] #49 closed

[2021-05-17 13:43] rohe commented on #50
Salt is defined as a dump parameter in SessionManager. It should take care of this.
May have to add a test to verify it.

[2021-05-17 14:21] peppelinux commented on #50
it seems to me that's not actually aware of it

[code]

 the dump shows random salt instead of the defined one

[2021-05-17 14:27] peppelinux commented on #50
and more, it happens, somethimes, that session manager dump doesn't have salt and key correctly valued

[code]

[2021-05-17 14:49] peppelinux commented on #36
this problem is still present

[2021-05-17 14:51] peppelinux commented on #48
this problem is no longer encountered following the contributions of the last few days, it is to be considered in the closing phase

[2021-05-17 17:50] peppelinux commented on #48
not reproducibile means not existent

[2021-05-17 17:50] #48 closed

[2021-05-17 18:13] rohe commented on #50
Ah, now I get it.

Each sub function doesn't have a salt of its own the SessionManager instance has a salt which is then used by all sub function.

[2021-05-17 18:25] peppelinux commented on #50
Ok, how to deal with that?
Do you have something to be coded/refactored in the project or do we have to made some changes in documentation and example configuration?

[2021-05-17 18:28] rohe commented on #50
I think changing documentation and example configuration is what should be done.

[2021-05-17 18:29] peppelinux commented on #50
Put your notes here, I can do the commit or do your commits then I'll updated the pendig PR about the Docs

[2021-05-18 07:10] rohe commented on #50
I don't think there is anything to change in the example/flask_op configuration.
And there is no mentioning of salt in the documentation that I can find.

[2021-05-18 07:14] rohe commented on #47
example/flask_op do have an introspection endpoint.
Don't know which example project you are talking about.

[2021-05-18 07:22] peppelinux commented on #47
The same but I miss It, my excuses 😎

[2021-05-18 07:29] rohe commented on #33
I think it's about which authz handler you are using.
If you are using oidcop.authz.Implicit which was the default up to a while ago then this would be the expected behaviour.
If you are using oidcop.authz.AuthzHandling this is not would you would expect.
So, which one are you using ?

[2021-05-18 07:52] peppelinux commented on #33
[code]

[2021-05-18 07:54] peppelinux commented on #33
Correct me if I'm wrong, we need that a minted token have the scope for which was issued (even if scope claim is not available in the token itself)

that's needed for introspection

a authz request happens with 4 scopes, but the grant have been issued only for two of them. We need this information.
So, do I miss something?

[2021-05-18 08:07] rohe commented on #33
The allowed scopes may be none that is equal to []. How that would be interpreted by the resource server I have no idea.
The allowed scopes MUST be in the session token that are stored in the grant under issued_tokens and it might also
be present in the token itself (if it's a JWT token).
If that is your authz configuration then I don't understand how you get scope = [].
Given the authorization re

[2021-05-18 08:12] peppelinux commented on #33
Try to have an authz request with many scopes and an OP that issues only some of them, we should have only those issued in the token scopes

[2021-05-18 08:24] peppelinux opened #53 "[Session manager] Missing key and salt after flush and load"
Once I flushed the session manager, sometimes, on the next request I miss key and salt.

[code]

![image](https://user-images.githubusercontent.com/1297620/118617521-04162d00-b7c3-11eb-8a11-d6155005d41f.png)

It needs to be investigated more closely

[2021-05-18 08:49] rohe commented on #33
I've found a problem. In the process of fixing it now.

[2021-05-18 09:32] rohe commented on #33
Hmm, not sure it was a problem.

The thing is there are two places where you want the scopes to be visible.
The first one is in the token itself (if it's a JWT token)
The second is at the introspection endpoint.

Regarding the first one the payload_arguments method makes sure the correct information is in the token.

Regarding the second the logic of the code is that if there is no scope defined i

[2021-05-19 11:03] nsklikas opened #55 "Invalid token_type SessionToken"
The `token_type` in the `SessionToken` describes the class of the token (`access_token`, `refresh_token`, ...).

In the OAuth2 spec token_type is used to describe an access_token(https://datatracker.ietf.org/doc/html/rfc6749#section-7.1)

`token.token_type` is used in the introspection endpoint to get the value of the token_type(https://github.com/IdentityPython/oidc-op/blob/develop/src/oidcop/oau

[2021-05-19 14:24] rohe commented on #55
Absolutely !!!

[2021-05-19 14:29] rohe commented on #55
There is a third token_type we can add 'DPoP'.

Doesn't change the overall design.

And yes we probably need something like `string` or `undefined`.

I assume `token_class` is a reference to the class of the token not the name of the class which should be in Camelback.

[2021-05-19 15:08] peppelinux commented on #55
it's great @nsklikas , make order and clarity, I'm really happy you realized this before the upcoming release

[2021-05-20 10:22] peppelinux commented on #55
@rohe I put this issue in the v2.0 milestone, do you agree that this can be handled in it or do you prefer to create a 2.0.1 milestore for this?

[2021-05-20 13:27] rohe commented on #55
I think it's a good idea to do it as part of 2.0.0 .

[2021-05-21 09:25] rohe commented on #36
Where in django-oidc-op do you call the dump, load, flush methods the oidc-op provides ?

[2021-05-21 10:21] peppelinux commented on #36
load in the endpoint views, example here BUT they're going to be refactored as ClassViews with method decorators
https://github.com/peppelinux/django-oidc-op/blob/426003dc8c963b944b5e95431094335d8f9e9465/oidc_provider/views.py#L393

note that on each HTTP request I call the flush to avoid any exceptions that made db inconsistent (it will be in django sman decorator)

then I load the dump if client

[2021-05-21 10:24] peppelinux commented on #36
but ... overall ... the flush always delete the db key element.
And probably we could think that at least the structure, the schema, of the sman MUST be untouched, to avoid this kind of inconsistence.

This problably exceed my implementation in a more general approach to be handled in oidcmsg or in oidcop session_manager

[2021-05-21 12:53] peppelinux commented on #36
Yes, it was definitely a bug that I patch here:
https://github.com/IdentityPython/oidc-op/pull/59

with that PR key and salt always are present, even after flushes, and also now we have an additional feature (already present but unusable) to define key and salt in general configuration (good for distribuited workers).

ops ... test 50 failed ... probably I'll fix it this evening

[2021-05-21 22:16] peppelinux opened #60 "seed, password and salt. Semantically exiled and far from home"
we have these three "root" parameters in OPConfiguration: seed, password and salt, and these, sooner or later, will have to be documented.

seed is only involved in client secret creation.
password and salt are involved, @rohe correct me if I'm wrong, in session storage.

I think that we should do a refactor and rename/move these parameters in some other section or give to them a better semantic.

[2021-05-21 23:09] peppelinux commented on #50
The missing salt was fixed here
https://github.com/IdentityPython/oidc-op/pull/59

This issue wants to do some docs about sub_funcs and salt. Now I see how this salt have been involved in session manager, it's time for documenti It!

[2021-05-22 20:20] peppelinux commented on #60
Actually we have

[code]

password, salt, session_key and sub_funcs all are related to session manager.
Here a proposal

[code]

[2021-05-22 21:25] peppelinux commented on #50
Closed by https://github.com/IdentityPython/oidc-op/pull/59

[2021-05-22 21:25] #50 closed

[2021-05-22 21:26] peppelinux commented on #36
Closed by https://github.com/IdentityPython/oidc-op/pull/59

[2021-05-22 21:26] #36 closed

[2021-05-23 13:20] peppelinux opened #61 "Pydantic, readonly, Configuration"
This issue collect all the stuffs related to any logic improvement of the oidc-op configuration system.

@rohe that's the PoC that I put in configuration.py Base Class to see which Configuration attribute have been overwrite during configuration initialization:

[code]

and I'm asking why 'endpoint', 'httpc_params', 'issuer', 'login_hint2acrs', 'sub_func', 'token_handler_args', 'template_dir' are

[2021-05-23 14:01] peppelinux commented on #47
done here:
https://github.com/IdentityPython/oidc-op/pull/59/commits/4286cc8a9d76c4da094ea756a9c9ecb1897ca84e

[2021-05-23 14:01] #47 closed

[2021-05-23 18:22] rohe commented on #61
Configuration does a number of modifications on what's in the config dict.
Like replacing {domain} or rewriting file/directory paths to be absolute rather than relative.
I don't think we should not do this.

[2021-05-23 21:13] peppelinux commented on #61
I'm wondering about how to do that in a single step

[2021-05-24 10:30] peppelinux opened #67 "type is a reserved word"
I saw that type is widely used as a variable name, as function argument and for any other assignment operation.
I tryed a refactor in the past for this and I should back on it.

it is really not advisable to override python runtime primitives

despite the negative effects not actually found, it is still necessary to do a refactor in order not to discourage a careful analyst who, finding this in th

[2021-05-24 10:37] peppelinux commented on #67
ho .. I already put that refactor in develop2 branch. Can't find it in the commits log (my bad, my fault).
my brain should come home soon, I'll let you know ...

[2021-05-24 10:37] #67 closed

[2021-05-24 11:10] peppelinux opened #68 "configuration session_key"
I'm getting troubles understanding how to document "session_key".

[code]

we have other methods that use this name but did different things and for different scopes.

in session manager we use a password to do encryption and decryption.
where this "session_key" is involved for real in oidc-op operations?

[2021-05-24 13:16] peppelinux opened #69 "IDToken acr value"
actually we have the following IDToken

[code]
Does it have sense to have "oidcop.user_authn.authn_context.INTERNETPROTOCOLPASSWORD"?

or we should have something like this instead:
`"acr": "urn:oasis:names:tc:SAML:2.0:ac:classes:InternetProtocolPassword"`

In `oidcop.user_authn.authn_context` those contansts like `oidcop.user_authn.authn_context.INTERNETPROTOCOLPASSWORD` matches the corresponding

[2021-05-24 13:45] peppelinux commented on #69
@rohe commited here:
https://github.com/IdentityPython/oidc-op/pull/65/commits/524e4e92a5f9174e63e4e9e9c27edddc74e56bf4

[2021-05-25 06:52] #69 closed

[2021-05-25 15:11] rohe commented on #60
OK, LGTM.

[2021-05-25 15:20] rohe commented on #60
Actually, it might be that session_key is an historical artefact and can therefor be removed.

[2021-05-25 15:21] peppelinux commented on #60
Do we think to have this to 2.0.0 roadmap?
It Will be a breaking change because it's at the base of the configuration schema

[2021-05-25 15:23] rohe commented on #60
We can have it in the 2.1.0 road map.

[2021-05-25 16:06] peppelinux commented on #68
@rohe so, can we remove session_key from the general configuration?
https://github.com/IdentityPython/oidc-op/issues/60#issuecomment-847960907

if yes, it could be done in 2.0.0 if you agree

[2021-05-25 16:07] peppelinux commented on #53
fixed here: https://github.com/IdentityPython/oidc-op/pull/65

[2021-05-25 16:07] #53 closed

[2021-05-26 07:03] rohe commented on #61
Sure, one could always define a method that does all the modifications.
I'll have a look at that.

[2021-05-26 09:06] rohe commented on #61
OK, I've implemented it as a write_once dictionary. No lock. Just that if there is a value then it can not be overwritten.

[2021-05-26 09:16] peppelinux commented on #61
I like the "write_once" concept :)
Ok, this means that we could include this feature in v2.0.0 roadmap and pydantic schema, eventually, in v2.1.0

[2021-05-26 09:26] rohe commented on #61
We could

[2021-05-26 12:45] peppelinux commented on #60
closed by https://github.com/IdentityPython/oidc-op/pull/72

[2021-05-26 12:45] #60 closed

[2021-05-26 12:45] peppelinux commented on #68
closed by https://github.com/IdentityPython/oidc-op/pull/70

[2021-05-26 12:45] #68 closed

[2021-05-27 07:11] rohe commented on #55
I can start taking a stab at this later today if no one else feels like taking it on.

[2021-05-27 10:30] peppelinux opened #73 "PublicID sub_func"
PublicID sub_func takes sector_identifier (it would be for "scoped" needs, standing on what eduPersonUniqueID proposes to be) but it doesn't use it in sub generation.

https://github.com/IdentityPython/oidc-op/blob/0fe80673e0478fb7d4a77e54b73733325eff5c45/src/oidcop/session/manager.py#L56

standing on the general configuration schema we can customize sub_funcs so ... This issue looks not so import

[2021-05-27 11:29] nsklikas commented on #55
I haven't had the time yet, you can start it if you want and I can jump in later

Thanks

[2021-05-28 07:22] rohe commented on #55
Working on it!

[2021-05-28 08:46] rohe commented on #55
Branch token_type. First walk through.

[2021-05-29 13:06] peppelinux commented on #33
Hi Roland, It seems that's the only issue to have v2.0.0 release finally done 😀

[2021-05-30 18:55] rohe commented on #55
Implemented in #74

[2021-05-30 18:56] #33 closed

[2021-05-30 18:57] #55 closed

[2021-05-31 17:33] nsklikas opened #78 "ID Token introspection"
Currently providing an ID Token to the introspection endpoint results in an unhandled exception.

@rohe @peppelinux What are out plans regarding using ID tokens in the introspection endpoint?
IMO we should allow introspection of ID tokens.

[2021-05-31 17:51] peppelinux commented on #78
@nsklikas I think that an unhandled exception means a bug 😀

Put a unit test for this of you can, then we'll see what's going on.

I'm quite sure that an IDToken would be handled by token introspection, and more... Every issues token should be handled. Probably you face a bug, let's patch It!

[2021-05-31 17:54] peppelinux commented on #78
Do you tested on this
https://github.com/IdentityPython/oidc-op/pull/74
?

[2021-05-31 18:10] rohe commented on #78
There is no support for introspection of ID Tokens at the introspection endpoint and there shouldn't be.
But it shouldn't result in an unhandled exception.

[2021-05-31 18:31] peppelinux commented on #78
If @nsklikas desire this feature in, let's give him a chance

It's quite trivial to get that information from a session Grant

That's something for 2.1.0 if you agree, @nsklikas  would you go ahead in the meantime?

[2021-05-31 18:59] rohe commented on #78
It's not that simple.
Remember that introspection is a OAuth2 functionality and not OIDC. And that ID Tokens is an OIDC addition.
Introspection was invented because access tokens where supposed to be non-readable to the user.
ID Tokens are by definition readable by anyone and not supposed to be used as access tokens.

[2021-05-31 19:03] peppelinux commented on #78
This meant that @nsklikas would have a oidc aware token introspection endpoint?

The Sky Is the limit 😎

Regarding the nature of the endpoint, yes I agree that belongs to oauth2 but @nsklikas how would you del with this?

[2021-06-01 08:40] nsklikas commented on #78
Many providers out there support the introspection of ID Tokens. It's true that it's an OAuth2 endpoint and I don't know if we should support it as well.

I guess it would make sense to introspect encrypted ID Tokens (the client may not have the encryption key).

The reason it fails is that `get_session_info_by_token` expects to find the `session_id` in the token, but ID Tokens don't contain the s

[2021-06-01 14:31] #78 closed

[2021-06-03 17:13] peppelinux opened #86 "Cookies or not Cookies, this is the question"
Actually `views.do_reponse` (flask_op or django-oidc-op) handles the cookie and if I'd like to not use it, when my user-agent call the session endpoint for logging out, I got instead an error.

that's the call to session endpoint
[code]

that's the response, an error:

[code]

I can adopt a workaround in django BUT I'm wondering if we could disable entirely the cookies in oidc-op, as an option.
Fo

[2021-06-03 17:22] peppelinux commented on #86
@rohe @nsklikas
standing on this: https://github.com/IdentityPython/oidc-op/blob/0f92cfbf8079224c4c11e861a6c93d0efcf96d61/src/oidcop/oidc/session.py#L239

what do you think to get `_session_info` from session_manager, using the token in the request and not the cookie.
Cookie Should be implemented by the frontend and optionally handled (as an additional feature) internally in oidc-op

I'd go in thi

[2021-06-03 19:51] peppelinux commented on #61
This is the right Place I think
https://github.com/IdentityPython/oidc-op/tree/write_once

Is It complete or a draft?

[2021-06-03 20:13] peppelinux opened #87 "Token Exchange documentation and examples"
@nsklikas
We don't have a documentation about how to use this endpoint, would you like to put an example in the day cumentation as already fine for token introspection?

@rohe I also have to add this feature in readme, we Need also a working example in flash op

[2021-06-06 07:03] rohe commented on #61
I think it's complete.

[2021-06-06 07:42] peppelinux commented on #61
Ok, do we have to merge in develop branch?

[2021-06-07 01:18] peppelinux commented on #61
Closed via https://github.com/IdentityPython/oidc-op/pull/90

[2021-06-07 01:18] #61 closed

[2021-06-09 10:49] nsklikas opened #93 "Don't write jwks to disc"
The code in https://github.com/IdentityPython/oidc-op/blob/master/src/oidcop/token/handler.py#L172 doesn't make much sense to me.

Why do we always have to create that jwks? Why do we always write it to disc?

If I understand it correctly this jwks will not be used if that tokens are JWKS.
Also I see no reason to force writing to disc.

Is there something I'm missing?

[2021-06-09 11:11] peppelinux commented on #93
It depends by read_only, if True it won't create/write anything
https://github.com/IdentityPython/oidc-op/blob/0f92cfbf8079224c4c11e861a6c93d0efcf96d61/src/oidcop/token/handler.py#L176

Probably we could handle this jwks initialization in a single,way, in a unique function.
Often we have this features re-implemented in many places

[2021-06-09 11:17] nsklikas commented on #93
Yes but it also forces the `private_path`

https://github.com/IdentityPython/oidc-op/blob/0f92cfbf8079224c4c11e861a6c93d0efcf96d61/src/oidcop/token/handler.py#L172

If this jwks is not needed (access token and ID token can be JWT) why force a private path? I don't need to keep those keys

[2021-06-09 12:59] peppelinux commented on #93
Actually we deal with jwks forgery in

[code]
I'm wondering if it could be better to handle only in endpoint_context and not also in token handler BUT that's not the question.

If I have well understand you're are saying that we should need an option that forces, optionally, the token minting in JWE format and also this parameter would handle the jwks defs.

overall, I have to be honest, I'd like

[2021-06-09 20:32] peppelinux commented on #86
Closed via https://github.com/IdentityPython/oidc-op/pull/89

[2021-06-09 20:32] #86 closed

[2021-06-10 07:03] rohe commented on #93
So, we're witnessing a change in usage here.
Back when, we had keys that was only used for constructing access/refresh JWS tokens.

Now, token handler uses the same keys as are used for signing/encrypting messages so there are really no need for a set of special keys for just access/refresh JWS tokens.
Lately I've started to use JWKS for initiating and handling symmetric keys as can be seen in L18

[2021-06-10 08:42] peppelinux opened #95 "Registration api (read)"
During the coverage of django-oidc-op, with pure integration tests, I got this exception when I try to test registration_read endpoint.

[code]

This is the test I'm using
https://github.com/peppelinux/django-oidc-op/blob/91e2c53219472b33de110165e447fad4c2268fe0/oidc_provider/tests/test_03_rp_flow.py#L79

It seems to me that the client registration_access_token have not been recognized as valid by

[2021-06-10 09:27] peppelinux commented on #95
My fault, I found thanks to https://github.com/IdentityPython/oidc-op/pull/96

[2021-06-10 09:27] #95 closed

[2021-06-11 10:40] nsklikas commented on #93
I agree that these keys should be persisted in a production environment.

But when I'm running it on my machine for development/testing I don't want the keys to be written in the disc. I should be able to choose whether I want them saved.

[2021-06-11 11:42] nsklikas opened #97 "WrongTokenClass bug"
I stumbled onto the followin bug.
I try to run a regular code flow. When I try to exchange the authorization code with an access_token the following error is raised:
[code]

The bug happens because the authorization code and the access_token are created using the same class (`DefaultToken`).
So https://github.com/IdentityPython/oidc-op/blob/0f92cfbf8079224c4c11e861a6c93d0efcf96d61/src/oidcop/token

[2021-06-11 11:54] peppelinux commented on #97
Great to know but still can't reproduce this, can you share/push a unit test for get this evidence?

[2021-06-11 12:06] nsklikas commented on #97
Updated the description.

[2021-06-11 12:13] nsklikas commented on #97
The config I use is
[code]

[2021-06-11 12:18] peppelinux opened #98 "Provide more endpoint configuration examples in Documentation"
standing on this example:
https://github.com/IdentityPython/oidc-op/issues/97#issuecomment-859538350

[2021-06-11 17:18] rohe commented on #93
OK, sounds fair

[2021-06-11 18:34] peppelinux commented on #93
Sounds good, we Need a roadmap now 🐕

[2021-06-12 08:35] rohe commented on #93
So what keyword should we use in the configuration to flag this ?

Ephemeral ? Like this:

[code]

[2021-06-12 09:22] peppelinux commented on #93
Ephemeral? Ok, but not without documentation!!!

Let's see.
Is there the possibility to deprecate token handler jwks and have It in endpoint_context?

Anyway, I follow you

[2021-06-12 09:24] rohe commented on #93
What are the use cases ?:
1) Test deployment. You don't expect any persistence between server runs.
2) You expect the server to create all necessary keys and to make them persist over runs.
    The first time up you just start the server, it creates all the necessary files and writes them to disc such that
    for the following stop/start sequences will always get you a server that uses the same k

[2021-06-12 09:27] rohe commented on #93
Token handler is part of the endpoint context so I don't see the need for having it higher up.
If the configuration is part of `token_handler_args` then the result of the configuration should be in `token_handler`.

[2021-06-12 12:02] peppelinux commented on #93
Good to me @rohe, few things not so important right now.
I'd spend energies to have JWE tokens, optionally, with some paramenters in token_handler. That's another topic, I'll open an Issue

[2021-06-12 13:39] rohe commented on #93
I guess the policy for doing JWE instead of JWS could be quite complex.
Definitely per audience (RP/RS).
Now, if there is more then one entity as audience then you suddenly has to do JSON serialisation instead of compact serialisation. More complexity. Which means you really should be sure you need this before venturing down that path.

[2021-06-12 13:43] peppelinux opened #102 "JWE tokens"
The policy for doing JWE instead of JWS could be quite complex.
Definitely per audience (RP/RS).
Now, if there is more then one entity as audience then you suddenly has to do JSON serialisation instead of compact serialisation. More complexity. Which means you really should be sure you need this before venturing down that path.

[2021-06-12 13:43] peppelinux commented on #93
@rohe thread moved to https://github.com/IdentityPython/oidc-op/issues/102

[2021-06-23 12:53] #97 closed

[2021-09-02 00:25] peppelinux opened #121 "feat: granular usage_rules for tokens"
In usage_rules ,which is set per grant, we can specify the life time of a token but also how many times a token can be used.

https://github.com/IdentityPython/oidc-op/blob/41d7f5e86ad086b6b3c266d1b92d54cbfe2b8733/example/flask_op/config.json#L68

For instance an access code (which is just another token) can only be used once.
This means that we can specify that a refresh token can only be used N

[2021-09-03 00:13] peppelinux commented on #93
This issue causes to satosa oidcop frontend to write private files related to cookies to disk, even if satosa frontend doesn't use oidcop cookies.

Do we have a way to put them in a custom storage? (/dev/null for cookies in satosa)

[2021-09-09 16:43] peppelinux opened #126 "feat: SIOP"
https://openid.net/specs/openid-connect-core-1_0.html#SelfIssued

[2021-09-10 10:12] nsklikas opened #127 "Scopes handling"
I will use this issue to try to describe how I think we should handle scopes. When we agree to something I will go forward and open a PR.

Right now we have `scope_supported` which is used to define the scopes that are advertised in the well-known endpoint as well as the scopes that we allow. This can be overridden per client with the `allowed_scopes` parameter.
If someone wants to override the sc

[2021-09-20 12:02] c00kiemon5ter commented on #127
this is a structure that is mapping scopes to claims. I would call it `scopes_to_claims`.

[...] as "scopes_supported", right? so, probably this should be called `scopes_supported`

these are allowed to be requested, so probably `allowed_scopes` is better.

---

(using my naming: `scopes_supported` and `allowed_scopes`)

It seems to me that `scopes_supported` is always a subset of `allowed_scopes`

[2021-09-20 12:21] peppelinux commented on #127
Hi @c00kiemon5ter I already merged the related PR to this issue but feel free to get a @nsklikas 's feedback on this topic and doing another PR for improve the semantic of those variables

[2021-09-20 12:27] nsklikas commented on #127
I agree with your naming (`scopes_to_claims`, `scopes_supported`, `allowed_scopes`), I will change it.

About `allowed_scopes` vs `scopes_supported_extras`, I prefer `allowed_scopes` because it allows for a similar behavior globally and per client.
Also consider this:
You support 3 scopes `A`, `B` and `C` and you wish to advertise them all, but you want to allow most of your clients to use only sc

[2021-09-20 12:46] c00kiemon5ter commented on #127
ah, my thinking was a single global setting, not per-client. You are right, _extras do not help in this case.

[2021-09-21 07:34] peppelinux commented on #126
exceeded by https://openid.net/specs/openid-connect-self-issued-v2-1_0.html

[2021-09-21 11:52] nsklikas opened #134 "Merge oidc and oauth2 token helpers"
There is a lot of code shared between https://github.com/IdentityPython/oidc-op/blob/master/src/oidcop/oauth2/token.py and https://github.com/IdentityPython/oidc-op/blob/master/src/oidcop/oidc/token.py. We should refactor the helper classes so that duplicate code is removed

[2021-09-21 11:55] peppelinux commented on #134
Completely agree

Probably this Will affect also how unit tests imports things and this could be a bit Dangerous, because we should do refactor without touching unit tests ...

[2021-09-21 12:42] peppelinux opened #135 "feat: Claims Aggregation"
https://openid.net/specs/openid-connect-claims-aggregation-1_0.html

this may introduce VC in oidcmsg? @rohe
Probably we should have a separate library to handle VC and VP if you agree

[2021-09-22 07:53] #127 closed

[2021-09-22 08:54] peppelinux opened #136 "Documentation: Add PAR in the documentation"
here
https://github.com/IdentityPython/oidc-op/blob/master/docs/source/index.rst

and also an usage example would be appreciated!

[2021-10-18 14:11] melanger opened #141 "[SATOSA-oidcop] basic auth on token endpoint does not work"
I am trying to use the new OIDC frontend for SATOSA (`pip install satosa_oidcop`). When calling the token endpoint for exchanging an authorization code for an access token, using basic auth, it fails here:

https://github.com/IdentityPython/oidc-op/blob/754385f4db6348a2ed4472e9b10bfb47c20c9bee/src/oidcop/client_authn.py#L108

This line throws an exception, because `self.server_get("endpoint_contex

[2021-10-18 19:44] melanger opened #142 "documentation inconsistency"
In many tests and examples, including the [main example](https://github.com/IdentityPython/oidc-op/blob/a87177e7a5d0b40dcff11ed75b39a72bd2d3f015/docs/source/contents/conf.rst), the configuration option for claims is written as `add_claim_by_scope` (singular `claim`), but in the source code, it is `add_claims_by_scope` (plular `claims`):

https://github.com/IdentityPython/oidc-op/blob/a87177e7a5d0b

[2021-10-19 08:27] peppelinux commented on #142
Think you're right
@nsklikas can you confirm this?

@melanger feel free to put your contribution with a Pull Request, thank you

[2021-10-19 10:29] #141 closed, assigned to nobody

[2021-10-19 10:46] peppelinux commented on #141
thank you @melanger
probably I'll take another week to have this check in satosa-oidcop by my side

this exception MUST be handled in a proper way with a comprensible message in the logs of the frontend

[2021-10-27 09:24] #142 closed, assigned to nobody

[2021-11-03 10:36] melanger opened #151 "claims_interface not seems to be a valid configuration parameter"
https://github.com/IdentityPython/oidc-op/blob/684355981ea12516e1b5ef3ed72a4ecf572109bf/src/oidcop/configure.py#L250

I have no `claims_interface` in my configuration but the logs say:

[code]

I guess it is an internal variable which should be skipped from logging.

[2021-11-03 12:03] peppelinux commented on #151
here
https://github.com/IdentityPython/oidc-op/blob/684355981ea12516e1b5ef3ed72a4ecf572109bf/src/oidcop/configure.py#L203

We have to check if it's a deprecated parameter or not @rohe

[2021-11-03 13:02] rohe commented on #151
It might be that @nsklikas's changes to the claim interface made it superfluous.

[2021-11-03 13:31] peppelinux commented on #151
I made this clean up and also added this warning message to help end users to deal with breaking changes and deprecated parameters

https://github.com/IdentityPython/oidc-op/commit/0123d25953e8b7f45932bd5e6945b518d66a3b04#diff-6c1cca6748acc9f2583d0fca54d4bbbfc92e8836711cf318ca09d3cd4e60f00dR247

So, I'd keep this issue until we'll find this parameter and decide if it's needed or not.
@melanger fee

[2021-11-03 13:32] peppelinux commented on #151
@nsklikas any thoughts?

[2021-11-17 13:31] peppelinux opened #156 "[Featre request] Time slack and default timedelta in oidcop configuration"
https://github.com/IdentityPython/oidc-op/pull/155/files#diff-fdd667e49ac1308c4888bce310067fbe8ffeee845186585dea4533179bca562fL228

we also need a timeslack paramenter (an integer in seconds) in the general configuration of an entity to have a more relaxed validation of exp

[2021-11-25 18:54] peppelinux opened #161 "oidcop configuration as enumeration"
https://docs.python.org/3/library/enum.html
that would prevent the creations of deprecated or unusable configuration fields

[2021-11-26 09:43] ctriant opened #162 "Token Exchange support"
So, we are in the process of adding Token Exchange support on oidc-op as described in [RFC-8693](https://datatracker.ietf.org/doc/html/rfc8693) and we need feedback regarding the implementation.

More specifically, we consider the following scenario regarding the exchanging of Access Tokens with Refresh Tokens:

1. A `USER_A` accesses `CLIENT_A` and retrieves an Access Token `AT1` with a set of sc

[2021-12-13 11:30] nsklikas commented on #162
The way I see it a token exchange request is an exchange between a token with a set of token_type/scope/resource/audience to a different token with another set of token_type/scope/resource/audience. The task of the library is to :
- Allow or disallow the request.
- Produce the new token if needed.

I see 2 big problems with this:
1) How will we manage sessions, E.g.:
   - If client_1 gives an acce

[2021-12-13 11:42] peppelinux commented on #162
Hi, happy to see this PR indeed

@nsklikas on your thoughts

1. it depends by STS policy. I'm quite reluctant to share a token between two clients. I'd see token exchange like a way that a Client has to obtain a new access token usable to a RS, without requiring a new authentication (auth code). More like a SSO mechanism

2. the new token has the power, once exchanged it works with its powers. tha

[2021-12-13 13:20] rohe commented on #162
@nsklikas My 2c

- The entity that gets a token from an token exchange point owns the token
- If the original token gets revoked the all the tokens flowing from it MUST be removed/revoked. Provided the original token and all coming from it is minted by the same client. If you move to another client all bets are off! For that reason I question whether a client should be allowed to mint tokens based

[2021-12-15 09:22] nsklikas commented on #162
@peppelinux But wouldn't that be like using a refresh token? I understand your doubts about sharing tokens between clients, but I think that sometimes it is okay. If the user has given his consent, giving an access token to a trusted client may be okay (although I still don't like this approach). Perhaps this should be configurable as well.

@rohe Sure, I agree if the token comes from the same cli

[2021-12-15 14:03] nsklikas commented on #162
@peppelinux something went wrong and you edited my comment instead of writing an answer. I will paste it here for now:

[2021-12-15 14:07] nsklikas commented on #162
No but issuing a refresh token requires the user 's consent, likewise giving an access token to another client and exchanging it for a refresh token must have the consent of the user

[2021-12-15 22:23] peppelinux commented on #162
STS is here
https://datatracker.ietf.org/doc/html/rfc8693

what's the specs you're considering for this token endpoint?

[2021-12-16 08:49] nsklikas commented on #162
Ok, I'm blind. Thanks.
With:

You mean that the RS should expose an STS endpoint? I'm not really sure what you mean.

[2021-12-16 09:05] peppelinux commented on #162
The STS is only an endpoint, it can be hosted anywhere

[2021-12-27 12:34] ctriant commented on #162
In #165 Token Exchange support is introduced based on the discussion here. I'm considering the following format for the token exchange related configurations.

[code]
Any configuration under the `token_exchange` refers to the general configurations regarding the behavior of token exchange handler, i.e the supported subject token types.

Under the `policy` key exists any subject token specific poli

[2021-12-28 13:14] nsklikas commented on #162
So it will be
[code]

LGTM

[2022-01-21 13:02] peppelinux opened #170 "examples and test to be updated"
shouldn't be key_conf here?

https://github.com/IdentityPython/oidc-op/blob/c2e09be571a02cf5203eafad3abc3afbcb893f67/tests/srv_config.yaml#L104

[2022-01-21 13:06] peppelinux commented on #170
nope

the configuration remins keys
the conf objects handle it as key_conf

@rohe If i miss something please correct

meantime I close this

[2022-01-21 13:06] #170 closed

[2022-01-25 01:59] lgprobert opened #171 "flask_op example fails to start"
flask_op example fails to start because `oidcop.configure` does not have `Configuration` class anymore.

[2022-01-31 15:22] rohe opened #179 "Extensions in documentation"
We need to enumerate what extensions (RFC or I-D based) that we have in the code base and how they can be used.

[2022-01-31 18:11] peppelinux commented on #179
see https://github.com/IdentityPython/oidc-op/pull/175

[2022-03-03 10:19] NubiaNetworks opened #191 "flask_op example fails to start due to non-existing TokenAuthorizationError"
When attempting to start the flask_op example the following it fails with the following error:

[code]

[2022-03-03 14:17] NubiaNetworks opened #193 "Display provider info option is broken"
`server.py -d` incorrectly references the Flask app rather than the container `oidc_provider`

[2022-03-03 16:09] NubiaNetworks opened #195 "Fastapi example is broken"
The Fastapi example fails to start due to several issues:

- Broken  AuthorizationRequest import in utils.py
- App ends prematurely without logging error due to initialization code in `startup` event handler
- Broken config

[2022-08-05 09:52] melanger opened #202 "Exception when refreshing a token after grant has expired"
When trying to use a refresh token after grant (the session) expires, there is an unclear error: `NoneType object has no attribute expires_at`

This is because here, the `access_token.expires_at` property is accessed:
https://github.com/IdentityPython/oidc-op/blob/2f81e246ff9ef412f5dc786cd2cfa5dd5fccf9e1/src/oidcop/oauth2/token.py#L279

where `access_token` is a result of [grant.mint_token](https:

[2022-11-03 15:17] vladimir-mencl-eresearch opened #206 "Pairwise ID relies on sector_identifier_uri in auth request"
Hi,

This is partly related to UniversitaDellaCalabria/SATOSA-oidcop#20 and UniversitaDellaCalabria/SATOSA-oidcop#21 (which give some more context).

When trying to use `pairwise` `sub_type` with oidcop, I was getting the same `sub` values for both `public` and `pairwise` types - and realised it was because `sector_identifier` being passed by `create_grant` to the sub functions was an empty string

[2022-11-03 21:15] peppelinux commented on #206
considering satosa-oidcop I'd suggest to continue working on this branch https://github.com/UniversitaDellaCalabria/SATOSA-oidcop/tree/idpy-oidc

and complete the migration to [idpy-oidc](https://github.com/IdentityPython/idpy-oidc)

[2022-11-03 21:49] vladimir-mencl-eresearch commented on #206
Sorry, I may be lost in the different projects ... what is the difference between IdentityPython/oidc-op and IdentityPython/idpy-oidc ?

[2022-11-03 21:51] peppelinux commented on #206
IdentityPython/oidc-op  is not mantained anymore, developers efforts are moved to idpy-oidc

satosa-oidcop has to switch to idpy-oidc
I started, then a configuration refactoring stopped me, then I'm looking for contributors that can help development and confirms satosa-oidcop as a concrete community driven software (as it started from the begin!)

[2022-11-03 21:55] vladimir-mencl-eresearch commented on #206
Thanks!

So idpy-oidc is a rewrite of oidc-op - or a replacement that started as a new project?

And where does pyop fit into that picture?

Cheers,
Vlad

[2022-11-04 08:04] peppelinux commented on #206
A rewrite

pyop Is dead

We Need you, please join in the Dev team!